.frame-2 .images {
    margin-top: 40px;
}

@media (min-width: 1024px) {
    .frame-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding-right: 100px;
    padding-left: 100px;
}

.images {
    width: 600px;
}
    .frame2-text {
        margin-top: 150px;
}

.frame2-text p {
    font-size: 22px;
}

.frame2-text h2 {
        max-width: 350px;
    font-size: 35px;
}

.frame2-text a {
        margin-top: 30px;
}
}