.Frame-1 h2, .Frame-1 p {
    color: #000000;
}

@media (min-width: 1024px) {
    .frame-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding-right: 100px;
    padding-left: 100px;
}

.images {
    width: 600px;
}
    .frame1-text {
        margin-top: 120px;
}

.frame1-text p {
    font-size: 22px;
}

.frame1-text h2 {
        max-width: 350px;
    font-size: 35px;
}

.frame1-text a {
        margin-top: 30px;
}
}