.portfolioheader {
    margin-bottom: -50px;
}

.portfolioimages {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px
}

.portfolioimages img {
    width: 100%;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .portfolioimages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    }
}
