.handles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


@media (min-width: 768px) {
    .socials-text {
            margin-top: 60px;
    }

    .handles {
        display: flex;
    flex-direction: row;
    justify-content: center;
}

.handles img {
        width: 120px;
}
}

@media (min-width: 1024px) {
.handles img {
        width: 160px;
}
}

@media (min-width: 1440px) {
    .socials {
        padding-bottom: 20px;
    }
   
    .handles {
        display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
}
}