.portfolio {
    padding: 40px;
}

.portfolioimages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.portfolioimages img {
    width: 100%;
    cursor: pointer;
}
