.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header {
    padding-bottom: 30px;
    max-height: 642px;
    background: #74C69D;
    margin-bottom: 20px;
}

.hero-text, 
.hero-text h2, 
.hero-text p {
    color:#FFFFFF;
}

.hero-section a {
    color: #000000;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    .wrapper {
    padding: 50px 70px;
}

.logo{
    width: 15%;
}

    .hero-section {
        display: flex;
        flex-direction: row;
        padding: 0 80px;
    justify-content: center;
    gap: 200px;
    }

.hero-text {
    max-width: 380px;
}

.hero-image img {
        padding: 80px 0;
    width: 700px;
    margin-top: -100px;
}

.hero-text p {
        width: 550px;
}
}